<div class="lang-menu">
<ul>
    <li class="en">
        <a onclick="LangReplace('en')"><img alt="en" src="/Content/images/Flags/britain.png" title="en"></a>
    </li>
    <li class="ru">
        <a onclick="LangReplace('ru')"><img alt="ru" src="/Content/images/Flags/russian_federation.png" title="ru"></a></li>
@*@Url.LangSwitcher("en", ViewContext.RouteData, "en", Url.Content("~/Content/images/Flags/britain.png"))
@Url.LangSwitcher("ru", ViewContext.RouteData, "ru", Url.Content("~/Content/images/Flags/russian_federation.png"))*@
</ul>
</div>
