
<form action="/" method="get" name="form" onsubmit="return false;">
  <a onclick="UploadView()">@GlobalRes.UploadFileCSV</a>
    <p>
    @GlobalRes.Search
    <input name="search" type="text" id="search">
  </p>
</form>
