
 <input alt="@GlobalRes.UploadFileCSV" type="file" name="file" id="file1" />

<div>
    <img src="../../Content/images/UploadDB.gif" />
    <p>Данные сохраняются в БД</p>
    <p>Пожалуйста подождите...</p>
</div>